/* Overall layout */
.layout {
    -fx-background-color: #ddbb99;
    -fx-font-family: Arial, sans-serif;
    -fx-font-weight: bold;
    -fx-font-size: 13px;

}

/* ControlView layout (Previous, Next, Random) */
.control-layout {
    -fx-padding: 10px;
    -fx-alignment: center;
    -fx-border-radius: 4px;
    -fx-font-size: 15px;
    -fx-spacing: 20px;
}

/* Board layout (default, shaded, eliminated, blank) */
.default-puzzle-layout {
    -fx-background-color: #ffffff;
}

.shaded-cell {
    -fx-background-color: #000000;
}

.eliminated-cell {
    -fx-background-color: #ff0000;
}

.blank-puzzle-layout {
    -fx-background-color: #ffffff;
}

/* Puzzle layout */
.puzzle-layout {
    -fx-alignment: center;
}

/* Number of Puzzle layout */
.number-of-puzzles-layout {
    -fx-padding: 5 0 20 0;
}

/* Reset button layout */
.clear-layout {
    -fx-padding: 10px;
    -fx-border-radius: 10px;
}

/* Clues layout */
.width-layout {
    -fx-background-color: #cfe2f3;
    -fx-padding: 3px;
    -fx-alignment: center;
    -fx-border-color: #000000;
}

.height-layout {
    -fx-background-color: #cfe2f3;
    -fx-padding: 3px;
    -fx-alignment: center;
    -fx-border-color: #000000;
}

/* Solved puzzle layout */
.message-layout {
    -fx-padding: 15 0 0 0;
}

/* Controls layout */
.previous-button-style {
    -fx-border-radius: 10px;
}

.next-button-style {
    -fx-border-radius: 10px;
}

.random-button-style {
    -fx-border-radius: 10px;
}